.container-fluid{
    width:800px !important;
}
.section1{
    margin-top:2em;
    width: 70em;
    height: 30em;
    display:flex;


}
.biglietti-treni{

    h1{
        margin-top:2em;
    }
}
.left-side{
    width: 60%;
    height:100%;
    box-shadow:0 0 15px rgb(201, 201, 201);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.bottoni{
    margin-top: 2.5em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    a{
        display:flex;
        justify-content: center;
        align-items: center;
        width:10em;
        height: 50%;
        background-color:#69c3f7;
        border-radius: 1em;
        padding:1.5em;
        margin:1em;
        text-decoration: none;
        color: white;
        transition: background-color 150ms ease-in;
        border:none;
        text-decoration: none;
    }
    a:hover{
        background-color:#4d96c0;

    }
}
.last-part{
    height:25em;
    background-image: url(../assets/images/bg-2.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
