// bootstrap nodeModules
@import "../node_modules/bootstrap/scss/bootstrap";

$primary:  #D4F1F4;
$secondary: #189AB4;
$darker: #05445E;
$lighter: #75E6DA;
$danger: #ff4136;




.p-6 {
  padding-left: ($spacer * 5) !important;
  padding-right: ($spacer * 5) !important;
}

