
.last-part{
    height:25em;
    background-image: url(../assets/images/bg-2.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.biglietti-treni{
  
    h1{
        margin-top: 2.4em;
     
    }
   
}
.second-part{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
