
@import "./custom";
@import "./macchinista";
@import "./progressBar";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    .navbar {
        position: relative !important;
        z-index: 1 !important;
        background-color:rgba(34, 175, 255, 1)

    }
}
.last-part{
    position: relative;
    height:25em;
    background-image: url(../assets/images/bg-2.svg);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
.box-class {
    width: 50% !important;
}

.dropdown-menu {
    right: 1em;
}